.cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 960px;
    margin: 60px auto;
    padding: 0 30px;
    
}

.side_menu form {
    padding-bottom: 40px;
    background-color: #C3C3C3;
    box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E, inset 4px 4px 0px #B1B1B1;
}

.side_menu fieldset {
    border: none;
    padding: 0;
}

.side_menu legend {
    margin-top: 0;
    font-size: 1.2em;
    padding: 4px 0px;
    color: #fff;
    text-align: center;
    border-top: 2px solid #f0f0f0;
    border-right: 2px solid gray;
    background-color: #02007F;
    display: block;
    width: 100%;
}

.side_menu input {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 36px;
    box-sizing: border-box;
    padding: 8px 6px;
    color: #777;
    border: none;
    background: #FFFFFF;
box-shadow: inset 2px 2px 0px #262626, inset -2px -2px 0px #F0F0F0, inset 4px 4px 0px #7E7E7E;
}

.side_menu label {
    display: block;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 8px;
    margin-top: 20px;
    /* color: #fff; */
}

.side_menu textarea {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 200px;
    box-sizing: border-box;
    padding: 8px 6px;
    color: #777;
    border: none;
    background: #FFFFFF;
    box-shadow: inset 2px 2px 0px #262626, inset -2px -2px 0px #F0F0F0, inset 4px 4px 0px #7E7E7E;
}

.side_menu button {
    margin-top: 30px;
    float: right;
    padding: 6px 12px;
    cursor: pointer;
    margin-right: 20px;
    background: #C3C3C3;
    box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
}

.content_list {
    margin: 0;
}

.content_list li {
    /* border: 1px solid #f2f2f2;
    box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
    padding: 30px;
    position: relative; */
    /* border-left: 4px solid teal; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: inherit;

    

    background: #C3C3C3;
    box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
}

.content_list li+li {
    margin: 30px 0;
}

.head {
    box-sizing: border-box;
    margin-left: 2px;
    height: 32px;
    background: #02007F;
    position: relative;
    border-top: 2px solid #f0f0f0;
    border-right: 2px solid gray;
}

.content_list .title {
    font-size: 1.2em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}

.content_list .text {
    font-size: 1em;
}
.content_list .date {
    color: #3e3e3e;
    text-align: right;
}

.content_list button {
    width: 32px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #C3C3C3;
    box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
    font-size: 20px;
}

.content {
    padding: 4px 20px 20px 20px;
}
.content::after {
    content: '';
    display: block;
    clear: both;
}